/*height when nav breaks line : 2x (tag-line height + 2 * (border + padding + margin))*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-width: 20rem;
  max-width: 90rem;
  margin: 0 auto;
}

body {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: unset;
}

/*Used to hide text for users except screen-reader users*/
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body * {
  font-family: "DM Sans", "sans-serif";
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #C4C4C4;
  margin: 0.1rem;
  padding: 0.1rem 0.25rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #901C1C;
}

.header {
  margin: 2rem 0;
  width: 100%;
  padding-left: 2rem;
  padding-right: 22rem;
  /*need space for title main>h1* : 20rem + 2rem padding*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: calc(2* (1.3325 *0.75rem + 2 * (1px + 0.1rem + 0.1rem)));
}
.header__logo {
  width: 12.5rem;
}
.header__nav {
  flex: 1;
  padding: 0 1rem;
}
.header__nav__taglist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (min-width: 51.0001rem) and (max-width: 70rem) {
  .header {
    padding-left: 1rem;
    padding-right: 14.5rem;
    /*need space for title main>h1* : 13.5rem + 1rem padding*/
  }
  .header__logo {
    width: 9.375rem;
  }
  .header__nav {
    padding: 0 0.5rem;
  }
}
@media only screen and (max-width: 51rem) {
  .header {
    padding: 0 0;
    /*tag menu down to second line*/
    flex-wrap: wrap;
  }
  .header__logo {
    width: 9.375rem;
  }
  .header__nav {
    flex: none;
    margin-top: 1rem;
    width: 100%;
    padding: 0;
  }
}

.index {
  position: unset;
}
.index__title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2rem;
  top: 0;
  height: 3rem;
  /*logo's height*/
  width: 20rem;
  font-size: 2.25rem;
  font-weight: 400;
  color: #901C1C;
}
@media only screen and (max-width: 70rem) {
  .index__title {
    height: calc(2* (1.3325 *0.75rem + 2 * (1px + 0.1rem + 0.1rem)));
    /*2-lines nav height*/
  }
}
@media only screen and (max-width: 70rem) and (max-width: 51rem) {
  .index__title {
    right: 1rem;
    height: 2.34375rem;
    /*logo's height*/
    width: 13.5rem;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 70rem) and (max-width: 51rem) and (max-width: 30rem) {
  .index__title {
    right: 0rem;
    width: 8rem;
    font-size: 0.875rem;
  }
}

.main__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  justify-content: space-around;
  grid-auto-flow: row;
  align-items: start;
  justify-items: stretch;
}
@media only screen and (max-width: 70rem) {
  .main__grid {
    grid-template-columns: repeat(2, 20rem);
  }
}
@media only screen and (max-width: 70rem) and (max-width: 45rem) {
  .main__grid {
    grid-template-columns: 18rem;
  }
}
@media only screen and (max-width: 70rem) and (max-width: 45rem) and (max-width: 45rem) {
  .main__grid {
    grid-template-columns: 20rem;
  }
}

.card {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.card__picture {
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  clip-path: circle(45%);
}
.card__name {
  font-size: 2.25rem;
  font-weight: 400;
  color: #D3573C;
}
.card__location {
  font-size: 0.8125rem;
  font-weight: 400;
  color: #901C1C;
}
.card__quote {
  font-size: 0.625rem;
  font-weight: 400;
  color: black;
}
.card__price {
  font-size: 0.5625rem;
  font-weight: 400;
  color: #757575;
}
.card__taglist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
