button {
    border: none;
    border-radius: 0.3125rem;
    padding: 1.3125rem 0.6875rem;
    background-color: map-get($color, primary);
    color: white;
    font-size: 1.25rem;
    white-space:nowrap;
    &:hover, &:focus {
        color : black;
        background-color: map-get($color, secondary);
        cursor: pointer;
    }
}