.profile {
  width: 100%;
  margin: 0.5rem 0;
  padding: 3.5rem 3.125rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: start;
  align-items: center;
  background-color: map-get($color, contrastBack);
  &__info {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__name {
    font-size: 4rem;
    font-weight: 400;
    color: map-get($color, tertiary);
    @include textshadow;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @include textshadow;
  }
  &__location {
    font-size: 1.5rem;
    font-weight: 400;
    color: map-get($color, primary);
    margin-bottom: 0.5rem;
  }
  &__quote {
    font-size: 1.125rem;
    font-weight: 400;
    color: map-get($color, contrastFore);
    margin-bottom: 0.5rem;
  }
  &__taglist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include dropshadow(black);
  }
  &__tag {
    font-size: 1.125rem;
    .tag {
      background-color: map-get($color, contrastBack);
      &:hover,
      &:focus {
        color: white;
        background-color: map-get($color, primary);
        border-color: map-get($color, primary);
        outline: none;
      }
    }
  }
  &__contact {
    justify-self: start;
    align-self: start;
    margin: 0.5rem 1rem;
    z-index: 2;
    cursor: pointer;
  }
  &__picture {
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
    border-radius: 50%;
    align-self: start;
    justify-self: end;
    @include boxshadow;
  }
  &__moreinfo {
    position: fixed;
    bottom: 0;
    right: 2.25rem;
    background-color: map-get($color, secondary);
    border-radius: 0.3125rem 0.3125rem 0 0;
    white-space: nowrap;
    z-index: 3;
    @include boxshadow;
  }
  &__likes,
  &__price {
    display: inline-flex;
    white-space: pre;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    padding: 1.3125rem 2rem;
  }
  @media only screen and (max-width: 75rem) {
    &__name {
      font-size: 2.25rem;
    }
    &__location {
      margin-bottom: 1rem;
    }
    @media only screen and (max-width: 62.5rem) {
      &__location,
      &__quote,
      &__tag {
        font-size: 0.8125rem;
      }
      @media only screen and (max-width: 57rem) {
        background-color: white;
        padding: 0;
        grid-template-columns: auto auto;
        &__picture {
          width: 9rem;
          height: 9rem;
        }
        &__contact {
          padding: 0.35rem 1rem;
          margin: 0;
          position: fixed;
          bottom: 2rem;
          left: 50%;
          transform: translateX(-50%);
        }
        &__moreinfo {
          position: absolute;
          left: 50%;
          right: unset;
          transform: translateX(-50%);
        }
        &__tag .tag {
          background-color: white;
        }
        @media only screen and (max-width: 35rem) {
          &__location {
            margin-bottom: 0.5rem;
          }
          &__taglist {
            flex-wrap: wrap;
            justify-content: flex-start;
          }
          &__picture {
            width: 6.25rem;
            height: 6.25rem;
          }
          @media only screen and (max-width: 20rem) {
            &__contact {
              left: 10rem; /*the screen size is minimum width is 20rem*/
            }
          }
        }
      }
    }
  }
}

.portfolio {
  &__grid {
    margin-top: 0.5rem;
    padding-bottom: 4.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 21.875rem);
    justify-content: space-between;
    grid-auto-flow: row;
    align-items: start;
    justify-items: stretch;
    @media only screen and (max-width: 78rem) {
      grid-template-columns: repeat(3, 18rem);
      @media only screen and (max-width: 64rem) {
        grid-template-columns: repeat(2, 21.875rem);
        @media only screen and (max-width: 52rem) {
          grid-template-columns: repeat(2, 18rem);
          @media only screen and (max-width: 44rem) {
            grid-template-columns: 100%;
          }
        }
      }
    }
  }
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 4.6525rem;
  &__label {
    font-size: 1.125rem;
    font-weight: 700;
    color: black;
    padding-right: 1.5rem;
    margin-top: 0.75rem;
    @include textshadow;
  }
  &__criterialist {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    justify-items: stretch;
    align-items: center;
    border-radius: 0.3125rem;
    background-color: map-get($color, primary);
    z-index: 2;
    &[aria-expanded="false"] .sort__li:first-child .sort__criteria {
      border-radius: 0.3125rem;
    }
  }
  &__li {
    position: relative;
    &:first-child .sort__criteria {
      border-radius: 0.3125rem 0.3125rem 0 0;
    }
    &:last-child .sort__criteria {
      border-radius: 0 0 0.3125rem 0.3125rem;
    }
    &:not(:first-child) {
      display: none;
      &::before {
        content: "";
        height: 1px;
        width: 86%;
        background-color: white;
        position: absolute;
        top: 0;
        left: 5%;
      }
    }
  }
  &__criteria {
    color: white;
    font-size: 1.25rem;
    height: 4.625rem;
    width: 12rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &:hover,
    &:focus {
      color: black;
      background-color: map-get($color, secondary);
      outline: none;
      img {
        filter: invert(100%);
      }
    }
  }
  @media only screen and (max-width: 57rem) {
    display: none;
  }
}

.media {
  margin: 1rem 0;
  &__button {
    width: 100%;
    cursor: pointer;
    border-radius: 0.3125rem;
    @include boxshadow;
  }
  &__img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 0.3125rem;
    height: 18.75rem;
    @media only screen and (max-width: 44rem) {
      height: calc(0.567 * 0.9 * 100vw); /*ratio * width taking into account body margin*/
      @media only screen and (max-width: 20rem) {
        height: calc(0.567 * 0.9 * 20rem); /*min width of <html> is 20rem*/
      }
    }
  }
  &__legend {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    flex: 1;
    font-size: 1.5rem;
    font-weight: 400;
    color: map-get($color, primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include textshadow;
  }
  &__price {
    flex: none;
    padding: 0 0.9rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: map-get($color, primary);
    @include textshadow;
  }
  &__likes {
    flex: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-right: 1.5rem;
    height: 1.75rem;
    cursor: pointer;
    img {
      /*absolute position to avoid shift during the frame when the liked icon is loaded*/
      height: 1.25rem;
      position: absolute;
      right: 0;
      top: calc((1.75rem - 1.25rem) / 2); /*(height of parent - height of img / 2)*/
    }
    &:hover,
    &:focus {
      @include textshadow;
      /*Same as mixins dropshadow, but the mixin is not workable as it needs to be on the parent element*/
      img {
        filter: drop-shadow(0 0 0.5rem black);
        outline: none;
      }
    }
    &__liked {
      cursor: default;
      img {
        animation: liked 0.6s both;
      }
    }
  }
}
