@mixin dropshadow($selectedColor) {
    &:hover, &:focus {
        filter: drop-shadow( 0 0 0.5rem map-get($color, $selectedColor));
        outline: none;
      }
}
@mixin boxshadow($selectedColor) {
    &:hover, &:focus {
        box-shadow: 0 0 0.5rem map-get($color, $selectedColor);
        outline: none;
      }
}