$color: (
    primary: #901C1C,
    secondary: #D3573C,
    tertiary: #901C1C,
    quaternary: #757575,
    contrastFore: #525252,
    contrastBack: #FAFAFA,
    border-tag: #C4C4C4
);

$header-minheight: calc(2* (1.3325 *0.75rem + 2 * (1px + 0.1rem + 0.1rem))); /*height when nav breaks line : 2x (tag-line height + 2 * (border + padding + margin))*/